.sample1 .progress-arc,
.sample1 .centre-circle {
  fill: #5AC1E0;
}
.sample2 .progress-arc,
.sample2 .centre-circle {
  fill: #00A34F;
}
.sample3 .progress-arc,
.sample3 .centre-circle {
  fill: #BAD42F;
}
.sample4 .progress-arc,
.sample4 .centre-circle {
  fill: #FDF101;
}

.sample1 text,
.sample3 text,
.sample4 text {
  fill: #FFF;
}
