<h2 id="title">Ember Gauge Examples</h2>

{{outlet}}
{{progress-gauge
    name='sample1'
    duration=30000
}}
{{progress-gauge
    name='sample2'
    icon='M0 0 H 90 V 90 H 0 Z'
    innerColor='#00A34F'
    outerColor='#4AB547'
    duration=20000
    speedyDuration=500
    complete=finished
}}
